.span4
  h2.blog-heading Snazzy dev links:
  
  each post in tumbrlPosts
    .tumblr-link
        h4= post.title
        a(href=post.linkUrl, target='_blank')= post.linkUrl
          .tumblr-description
            p !{post.mainContent}