extends layout

block content
  .row
    .span8
      h2.blog-heading Sometimes I write stuff:
      
      each post in mainPosts
        h3.post-title= post.title
        .post-info
          h4.published-info= post.postDate
          a.btn.btn-info.btn-large.read-it-button(href="/article/" + post.permaLink) Read It!