doctype html
html
  head
    meta(charset='utf-8')
    title {creative:drewy}
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    
    link(href='/assets/css/journal.bootstrap.css', rel='stylesheet')
    link(href='/assets/css/bootstrap-responsive.css', rel='stylesheet')
    link(href='/assets/css/styles.css', rel='stylesheet')
    
    script(type='text/javascript', src='https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?skin=desert')
    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(type='text/javascript', src='/assets/js/site.js')
    script(src='//localhost:35729/livereload.js')

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-91339199-1', 'auto');
      ga('send', 'pageview');

  body
    .container
      .row
        .span3.main-avatar
          a(href='/')
            img(src='http://www.gravatar.com/avatar/a1d5c5255be43478b9ac67b43a9a0853?s=270')
        .span9.hero
          a(href='/')
            h1 {creative:drewy}
          p Android developer and all-around nerd in the San Francisco Bay Area. If it's cool tech, I'm probably interested.
          .hero-images
            a(href='mailto:creativedrewy@gmail.com', target='_blank')
              .social-button-container
                .social-button-overlay
                  p Email
                img(src='https://lh4.googleusercontent.com/VkvTKIL-MWMO5gCw9xshtLIaj3HWQ8FszTMw_Emr=s207-p-no')
            a(href='https://twitter.com/creativedrewy', target='_blank')
              .social-button-container
                .social-button-overlay
                  p twitter
                img(src='https://lh5.googleusercontent.com/-zjiLss13EH4/ULP0o7VaeoI/AAAAAAAAACM/EM0fg9j7LvA/s128/twitter_logo.png')
            a(href='http://github.com/creativedrewy', target='_blank')
              .social-button-container
                .social-button-overlay
                  p github
                img(src='https://lh5.googleusercontent.com/-m3EZr_I7deY/ULP0nxemtdI/AAAAAAAAACA/p1LMJ8Tq98I/s128/github_logo.png')
            a(href='https://www.linkedin.com/in/creativedrewy', target='_blank')
              .social-button-container
                .social-button-overlay
                  p LinkedIn
                img(src='https://2.bp.blogspot.com/-Kr0h3yHTX6E/WJUGb-1XcZI/AAAAAAAAALQ/KmxkQazhgb07HXL3ts3qRyl1nqcidSfGQCLcB/s128/LinkedInLogo.png')
                
      block content
          
      .row
        .span12.footer
          p © {creative:drewy} 2019
